Django>=5.2,<5.3
djangorestframework>=3.16,<4
drf-spectacular>=0.28
django-filter>=25.1
psycopg[binary]>=3.2,<4
celery[redis]>=5.5,<6
django-redis>=5.4
whitenoise>=6.9
gunicorn>=23.0
django-otp>=1.7,<2
django-auditlog>=3.4,<4
qrcode>=8.2
cryptography>=44
openpyxl>=3.1,<4
